.login-form {
    background-color: #f2f2f2 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    width:60%;
    margin:auto;
  }

  .banner {
    background-image: url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
  }

  .forgot-password {
    display: block;
    margin-top: 10px;
    color: blue;
  }
  
  input {
    background: white;
}

radio-btn:checked + .label {
    color: #009688;
  }
  .radio-btn:checked + .label::before {
    margin-right: 2rem;
    border: 0.5rem solid #009688;
    background: #fff;
  }

  hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.mr-4 {
    /* Right margin */
    margin-right: 0.5rem;
  }
  
  .ml-4 {
    /* Left margin */
    margin-left: 0.5rem;
  }