.banner {
    background-image: url('../../../assets/images/banner/Banner_AboutUs.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
  }

  i.fas.fa-chart-line {
    font-size: 5rem;
}