<div>
  <footer class="py-5">
    <button
      class="btn btn-primary btn-scroll-to-top"
      (click)="scrollToTop()"
      [class.show]="showButton"
    >
      <i class="fas fa-chevron-up"></i>
    </button>

    <div class="container">
      <div class="row">
        <div class="col mb-3">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-dark text-decoration-none"
          >
            <img
              class="img-fluid"
              src="https://www.cgs-cimb.com/cgscimbresources/system/footer_logo.svg"
            />
          </a>
          <p class="">© Copyright 2023</p>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5>Connect with us</h5>
          <ul class="nav social-media-icons">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="nav-item">
              <a href="mailto:info@example.com" class="nav-link"
                ><i class="fas fa-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <hr class="style-two" />
        <div>
          <p class="small text-center">
            <a
              href="https://www.cgs-cimb.com/?utm_source=prosperus&amp;utm_medium=website&amp;utm_campaign=footer"
              target="_blank"
              >CGS-CIMB Securities International Pte. Ltd.</a
            >&nbsp;All Rights Reserved&nbsp;|&nbsp;Company Reg No.:200506890E
          </p>
          <p class="small">
            This material is categorised as non-independent for the purposes of
            CGS-CIMB Securities (Singapore) Pte. Ltd. (Co. Reg 198701621D) and
            its affiliates (collectively “CGS-CIMB”) and therefore does not
            provide an impartial or objective assessment of the subject matter
            and does not constitute independent research. Consequently, this
            material has not been prepared in accordance with legal requirements
            designed to promote the independence of research. Therefore, this
            material is considered a marketing communication. <br />
            This material is general in nature and has been prepared for
            information purposes only. It is intended for circulation amongst
            CGS-CIMB's clients generally and does not have regard to the
            specific investment objectives, financial situation and the
            particular needs of any specific person who may receive this
            material. The information and opinions in this material are not and
            should not be construed or considered as an offer, recommendation or
            solicitation to buy or sell the subject securities, derivative
            contracts, related investments or other financial instruments or any
            derivative instrument, or any rights pertaining thereto. CGS-CIMB
            have not, and will not accept any obligation to check or ensure the
            adequacy, accuracy, completeness, reliability or fairness of any
            information and opinion contained in this material. CGS-CIMB shall
            not be liable in any manner whatsoever for any consequences
            (including but not limited to any direct, indirect or consequential
            losses, loss of profits and damages) of any reliance thereon or
            usage thereof.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
